body {
    background-image: url(./img/grande.jpg);
    background-size: cover;
    min-height: 600px;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}

/* #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  
}
 */

 h1{
    font-size: 90px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50px;
   
 }

 #per{
    padding-right: 1000px;
    padding-left: 60px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
 }

 #logosp{
    padding-left: 1000px;
    position: relative;
    top: -300px;
 }

 #lo{
    padding-left: 870px;
    position: relative;
    top: -450px;
}